*{
	box-sizing: border-box;
}

body{
	background-color: black;
	display: flex;
	flex-direction: column;
}


header{
	display: flex;
	justify-content: center;

}


.grid-wrapper {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.grid {
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	height: 100%;
	justify-content: center;
	height: 600px;
	width: 600px;
}

.grid div{
	color: white;
	 border: 1px solid rgba(255,255,255, 0.3); 
	flex-grow: 1;
	height: 7.14%;
	width: 7.14%;
}

.harry{
	background-image: url('../images/characters/harrry.gif');
	background-repeat: none;
	background-size: contain;
}
.flip-harry{
	background-image: url('../images/characters/flipped-harrry.gif');
	background-repeat: none;
	background-size: contain;
}

.rotate-harry-up{
	transform: rotate(90deg);
	/* transition: ease-in; */
}

.rotate-harry-down{
	transform: rotate(-90deg)
}



.voldemort{
	background-image: url('../images/characters/yellow_voldermort.png');
	background-repeat: none;
	background-size: contain;
}

.top-border{
	background-image: url('../images/border/top-edge.png');
	background-repeat: none;
	background-size: cover;
}

.top-right-corner-border{
	background-image: url('../images/border/top-right-corner.png');
	background-repeat: none;
	background-size: cover;
}

.top-left-corner-border{
	background-image: url('../images/border/top-left-corner.png');
	background-repeat: none;
	background-size: cover;
}


.bottom-border{
	background-image: url('../images/border/bottom-edge.png');
	background-repeat: none;
	background-size: cover;
}

.bottom-left-corner-border{
	background-image: url('../images/border/bottom-left-corner.png');
	background-repeat: none;
	background-size: cover;
}

.bottom-right-corner-border{
	background-image: url('../images/border/bottom-right-corner.png');
	background-repeat: none;
	background-size: cover;
}

.right-side-border{
	background-image: url('../images/border/right-side-border.png');
	background-repeat: none;
	background-size: cover;
}

.left-side-border{
	background-image: url('../images/border/left-side-border.png');
	background-repeat: none;
	background-size: cover;
}

.block-top-side{
	background-image: url('../images/blocks/top-side.png');
	background-repeat: none;
	background-size: cover;
}

.block-bottom-side {
	background-image: url('../images/blocks/block-side.png');
	background-repeat: none;
	background-size: cover;
}

.block-left-side{
	background-image: url('../images/blocks/left-side.png');
	background-repeat: none;
	background-size: cover;
}

.block-right-side{
	background-image: url('../images/blocks/right-side.png');
	background-repeat: none;
	background-size: cover;
}

.block-top-right-corner{
	background-image: url('../images/blocks/block-top-right-corner.png');
	background-repeat: none;
	background-size: cover;
}

.block-top-left-corner{
	background-image: url('../images/blocks/block-top-left-corner.png');
	background-repeat: none;
	background-size: cover;
}

.block-bottom-left-corner{
	background-image: url('../images/blocks/block-bottom-left-corner.png');
	background-repeat: none;
	background-size: cover;
}

.block-bottom-right-corner{
	background-image: url('../images/blocks/block-bottom-right-corner.png');
	background-repeat: none;
	background-size: cover;
}



